
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap');

.loginContainer {
    font-family: 'Kanit', Kanit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .loginForm {
    background-color: #40759b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
    
  }
  
  
  .buttonContainer {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    width: 100%;
    margin-top: 0px;
  }
  
  .logo {
    margin-bottom: 20px; /* Espaço entre o logo e o título */
    margin-top: -50px; /* Se quiser trazer o logo mais perto do container */
    width: 250px;
    height: 230px;
  }

  .linkCadastro{
    margin-top: 15px;
    font-size: 16px;
    
  }

  .linkCadastro a{
    color: #060079;
    text-decoration: none;
  }

  .linkCadastro a:hover{
    
    text-decoration: underline;
  }
  