@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap');

.inputField {
    font-family: 'Kanit',kanit;
    width: 300px; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    font-size: 16px; 
    outline: none; 
    margin-bottom: 20px; 
    transition: border-color 0.3s ease-in-out;
}